.card-img-top{
    margin:10px;
    height: 100px;
    width: 100px;

}

.card{
    height:100%;

}
.center-search{
    float: none;
    margin: 0 auto;
}

.center-search-10{
    float: none;
    margin: 0 auto;
    width: 15%;
}

.col{
    margin-bottom:10px;
}

