* {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;

  text-align: center;
}
body {
  width: 100%;
  height: 100%;
}

.fill {
  min-height: 100vh;
  min-width: 100vh;
}

.responsive{

}

.bg-color-1 {
  background-color: #284b63;
}

.bg-color-2 {
  background-color: #9cbfd7;
}

.content{

}

.login-cover{
  width: 80%;
}

.login-form{

}

.contrib{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 95%;
  right: 0%;
  text-decoration: none;
  color:#284B63;
}

@media screen and (max-width: 750px) {
  .responsive{
    min-height: 100vh;
    min-width: 100vh;
    padding-bottom: 10%;
  }

  .content{
    height: 100%;
  }
}

